@import "tailwindcss";
@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app {
    @apply min-h-screen flex flex-col bg-[#fbf8f2];
  }

  .navbar {
    @apply flex justify-between items-center;
  }

  .main {
    @apply p-10 grow;
  }

  .footer {
    @apply w-full flex justify-center items-center p-5;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .title {
    @apply text-4xl font-bold;
  }
}
